[package]
name = "zero-mysql"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "example"
path = "bin/example.rs"
[[bin]]
name = "example-text"
path = "bin/example_text.rs"
[[bin]]
name = "example-async"
path = "bin/example-async.rs"
required-features = ["dev"]
[[bin]]
name = "tracy-zero-sync"
path = "bin/tracy_zero_sync.rs"
required-features = ["dev"]
[[bin]]
name = "tracy-zero-async"
path = "bin/tracy_zero_async.rs"
required-features = ["dev"]
[[bin]]
name = "tracy-base-sync"
path = "bin/tracy_base_sync.rs"
required-features = ["dev"]
[[bin]]
name = "tracy-base-async"
path = "bin/tracy_base_async.rs"
required-features = ["dev"]
[[bin]]
name = "bench-write-payload"
path = "bin/bench_write_payload.rs"
required-features = ["dev"]

[dependencies]
tracy-client = { version = "=0.18.0", optional = true }
# tracing = { version = "*", features = ["release_max_level_warn"] }
tracing = { version = "*" }
tracing-subscriber = { version = "*", optional = true }
thiserror = "2.0"
bytes = "1.9"
tokio = { version = "1", features = ["io-util", "net"], optional = true }
tokio-util = { version = "0.7", features = ["codec"] }
zerocopy = { version = "0.8", features = ["derive"] }
sha1 = "0.10"
sha2 = "0.10"
url = "2.5"
bitflags = "2.6"
mysql = { version = "*", optional = true }
mysql_async = { path = "../mysql_async", optional = true, features = [
  "tracing",
] }
mysql_common = { path = "../mysql_common" }
tracing-tracy = { version = "*", optional = true }

[features]
default = ["sync", "async"]
sync = []
async = ["tokio"]
dev = [
  "tokio/full",
  "tracy-client",
  "tracing-tracy",
  "tracing-subscriber",
  "mysql",
  "mysql_async",
]
