[package]
name = "zero-mysql"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "example"
path = "bin/example.rs"
[[bin]]
name = "example-text"
path = "bin/example_text.rs"
[[bin]]
name = "example-async"
path = "bin/example-async.rs"
required-features = ["dev"]
[[bin]]
name = "example-async-text"
path = "bin/example-async-text.rs"
required-features = ["dev"]
[[bin]]
name = "tracy-zero-sync"
path = "bin/tracy_zero_sync.rs"
required-features = ["dev"]
[[bin]]
name = "tracy-zero-tokio"
path = "bin/tracy_zero_tokio.rs"
required-features = ["dev"]
[[bin]]
name = "tracy-zero-compio"
path = "bin/tracy_zero_compio.rs"
required-features = ["dev", "compio"]
[[bin]]
name = "tracy-base-sync"
path = "bin/tracy_base_sync.rs"
required-features = ["dev"]
[[bin]]
name = "tracy-base-async"
path = "bin/tracy_base_async.rs"
required-features = ["dev"]
[[bin]]
name = "bench-write-payload"
path = "bin/bench_write_payload.rs"
required-features = ["dev"]
[[bin]]
name = "test-multi-resultset"
path = "bin/test-multi-resultset.rs"
required-features = ["dev"]

[dependencies]
tracing = { version = "*", features = ["release_max_level_warn"] }
# tracing = { version = "*" }
tracy-client = { version = "=0.18.0", optional = true }
tracing-subscriber = { version = "*", optional = true }
thiserror = "2.0"
tokio = { version = "1", features = ["io-util", "net"], optional = true }
compio = { version = "0.16.1", optional = true }
zerocopy = { version = "0.8", features = ["derive"] }
sha1 = "0.10"
sha2 = "0.10"
url = "2.5"
bitflags = "2.6"
mysql = { version = "*", optional = true }
mysql_async = { version = "*", optional = true }
tracing-tracy = { version = "*", optional = true }

[features]
default = ["sync", "tokio"]
sync = []
tokio = ["dep:tokio"]
compio = ["dep:compio"]
dev = [
  "tokio/full",
  "tracy-client",
  "tracing-tracy",
  "tracing-subscriber",
  "mysql",
  "mysql_async",
]
